*{
    font-family: sans-serif;
    cursor:default;
}

body{
    background: #333;
}

#back{
    margin: auto;
    width:700px;
}

#top{
    background: #FF8C00;
    height: 40px;
    line-height: 40px;
}

span{
    color:white;
    margin-left: 20px;
}

#main{
    background: #FFFFFF;
    padding: 1px 7px 8px 7px;
}

.card{
    background: #F2F2F2;
    padding: 4px 4px 0 4px;
    margin: 5px;
}

.textTop{
    margin-top:4px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #999;
    line-height: 20px;
}

.textMid{
    margin-bottom: 2px;
    font-size: 14px;
    color: #999;
    line-height: 15px;
}

.textBot{
    font-size: 17px;
    color: #FF8C00;
    font-weight: bold;
}

.cardBot{
    background: #FF8C00;
    padding: 4px;
    margin: 5px;
}

.card:hover{

}

.cardBot:hover{
    background: #FAFAD2;
}