*{
    font-family: Arial;
}

#back{
    padding: 0;
}

#top{
    background: #FF8C00;
    height: 40px;
    line-height: 40px;
}

span{
    color:white;
}

#main{
    background: #FFFFFF;
    border: 1px solid black;
}

.card{
    background: #F2F2F2;
    padding: 4px;
    margin: 5px;
}

.cardBot{
    background: #FF8C00;
    padding: 4px;
    margin: 5px;
}